@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
}

.title{
    background: #15151539;
    position: relative;
    z-index: 100;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    max-width: 1450px;
    margin: auto;
    position: relative;
  
}

.title img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

nav button{
    position: absolute;
    right: 0;
    border: #fff 3px solid;
    background: none;
    padding: 5px ;
    border-radius: 10px;
    transition: 500ms;
    cursor: pointer;
    margin: 10px;
}

nav button i{
    color: transparent;
    color: #fff;
    font-size: 35px;
    transition: 500ms;
}

nav button:hover{
    background: #fff;
}

nav button:hover > i{
    color: #85ca36;
}


h1{
    margin: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-family: 'Audiowide', cursive;
}

body{
    min-width: 370px;
    margin : 0;
    background: url('./image/bg-whackamole.avif'); 
    background-size: 50%;
}

main{
    height: 80vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

/*Leaderboard*/
#leaderboard.backdrop{
    background: rgba(0, 0, 0, 0.43) ;
    z-index: 10000;
}

#leaderboard .modal{
    max-width: 1200px;
}

#leaderboard h2 {
    margin-bottom: 50px;
}

#leaderboard h2 i{
    font-size: 40px;
    color: #e2db04;
}

button#close{
    position: absolute;
    right: 20px;
    top: 20px;
    border: 0;
    background: none;
    padding: 2px 10px;
    cursor: pointer;
    transition: 500ms;
}


button#close i {
    color: red;
    font-size: 30px;
}

button#close:hover> i{
    color: rgb(131, 0, 0)
}

.leaderboards{
    display: flex;
}

.leaderboards h3{
    padding: 10px;
    margin: 0;
    background: #85ca36;
    text-align: center;
    margin: 0 auto 0 auto;
}


.leaderboard{
    text-align: center;
}

.lb-container{
    width: 33%;
    background: #eeeeee;
}

.lb-container:nth-child(2) {
    border-left: 10px #ffffff solid ;
    border-right: 10px #ffffff solid ;
}

.leaderboard .user-score{
    display: flex;
   background: #e3ffc9;
   border-top: 2px solid white ;
}

.leaderboard .user-score:nth-child(odd){
    background: #eeeeee;
}

.leaderboard .user-score span{
    padding: 10px 0;
    margin: 0;
}

.leaderboard .user-score span:nth-child(1){
   width: 15%;
    border-right: 2px solid white;
}

.leaderboard .user-score span:nth-child(2){
    width: 70%;
    text-align: start;
    margin: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
 }

 .leaderboard .user-score span:nth-child(3){
    width: 15%;
    border-left: 2px solid white;
 }
 

.leaderboards span{
    color: black;
    margin: 10px;
    font-size: 15px;
}



/*Game*/

button.start-game, button.play-again{
    padding: 10px;
    background: transparent;
    border: #fff 5px solid;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    margin : 10px  0;
    cursor: pointer;
    transition: 1s;
    width: 33%;
    min-width: fit-content;
}

button.start-game:hover,
button.play-again:hover{
    background: #fff;
    border: #fff 5px solid;
    color: #90c290;
}


.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding:0 0;
    margin: 0 auto;
    padding: 50px 50px;
    border-radius: 20px;
    position: relative;
    border: 5px solid white;
}

.container .hole{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 30%;
    margin: 1%;
    height: 150px;
    border-radius: 80px;
    background: url('http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/e3b41127ef742ce.png'); 
    background-size: 100%;
    background-position-y: 80% ;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hole img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#score-container{
    position: absolute;
    bottom : 7px;
    right: 15px;
    font-size: 20px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    font-size: 20px;
}

.infos{
  
    display: flex;
    min-width: fit-content;
    width: 90%;
}

.infos > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin: 10px 0;
    text-align: center;
    width: 33%;
}


.infos > span > span {
    font-size: 14px;
}

.infos > span.timer{
    text-align: start;
    font-size: 25px;
    padding-left: 10px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url('https://img.freepik.com/free-vector/seamless-textured-grass-natural-grass-pattern_172107-1308.jpg?w=2000');
    background-size: 50%;
    height: 100%;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 25px;
    max-width: 600px;
    background: rgb(255, 255, 255);
    padding: 5%;
}

.modal h2{
   color: #85ca36;
   font-size: 25px;
}

.modal label{
    font-size: 18px;
    color: rgb(22, 22, 22) ;
 }

.form-control{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: rgb(22, 22, 22) ;

}

.form-control input, .form-control select  {
    height: 40px;
    margin: 5px 0;
    font-family: sans-serif;
    color: rgb(22, 22, 22) ;
}

.form-control input[type="submit"]  {
    font-family: 'Press Start 2P', cursive;
    background: transparent;
    border: #000000 1px solid;
    color: #000000;
    font-size: 16px;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
    transition: 800ms;
   min-width: fit-content;
}


.form-control input[type="submit"]:hover{
    box-shadow: inset 500px 0 50px #85ca36;
    border: #85ca36 3px solid;
    color: #fff;
}

.score-final{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-final  span:last-child{
    font-size: 25px;
}

@media (max-width:768px){
    
    /*leaderboard*/

    .infos > span:nth-child(1) {
        width: 50%;
        margin-right: 15px ;

    }

    .infos > span:nth-child(2) {
        width: 30%;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
    }

    .infos > span:nth-child(3) {
        width: 20%;
        margin-left: 15px ;
    }
    
    #leaderboard h2 {
        text-align: center;
    }
    
    .leaderboards{
        flex-direction: column;
    }
    
    .lb-container{
        width: 100%;
        background: #eeeeee;
        border: none !important;
        margin-bottom: 30px ;
    }
}

@media (max-width:600px){
    .container{
        width: 95%;
        padding: 50px 5px;
    }
    .container .hole{
        height: 120px;
    }
}

